<h1>Created task:</h1>
<p><strong>ID: </strong><%= @task[:id] %></p>
<p><strong>TITLE:</strong><br /><%= @task[:title] %></p>
<p><strong>DETAILS:</strong><br /><%= @task[:details] %></p>
<p><strong>COMPLETED:</strong><br /><%= @task[:completed] %></p>


<%= link_to 'Back to task list', tasks_path %>
<br />
<%= link_to 'Edit', edit_task_path(@task) %>
<br />
<%= link_to 'Delete', destroy_task_path(@task) %>
