<h1><%= @task[:title] %></h1>
<p><%= @task[:details] %></p>
<p><strong>COMPLETED: </strong><%= @task[:completed] %></p>


<%= link_to 'Back to task list', tasks_path %>
<br />
<%= link_to 'Edit', edit_task_path(@task) %>
<br />
<%= link_to 'Delete', destroy_task_path(@task), method: :delete %>
<br />
<%= link_to 'Toggle mark as completed', mark_complete_path(@task), method: :patch %>
